
header{
    background: palegreen;
    color: mediumslateblue;
    text-align: center;
    padding: 50px ;
    border-radius: 10px;

}
h1{
    font-family: sans-serif;
    margin: 0;
}

body {
    font-family: "Segoe UI", Robot, sans-serif;
    margin: 0;
    background-color: white;
    color:aquamarine;
    
}

    

h1 {
   font-size: xx-large;
   color: black;
}


section{
    background: #f4f7fb;
    border-radius: 20px;
    pad: 30px;
    margin-bottom: 20px;
    margin-top: 20px;
    color: black;
    padding: 20px;
}

section h2{
margin-top: 0;
color: black;
}

