*{
    box-sizing: border-box;
}
body {
    font-family: "Segoe UI", Robot, sans-serif;
    margin: 0;
    background-color: aqua;
}
h1 {
    columns: black;
    text-align: left;
}
p {
    font-family: sans-serif;
    font-size: medium;
}