:root{
      --bg:#1C2B1F; 
      --bg2:#243228; 
      --bg3:#2D3D30;
      --green:#4A7C59; 
      --green-light:#7FB08A;
       --mint:#B8D4BE;
      --cream:#F2EDE3; 
      --gold:#C9A84C;
      --font-head:'Libre Baskerville',Georgia,serif;
      --font-body:'DM Sans',sans-serif;
      --radius:14px;
    }

    nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  background: var(--bg3);
  border-bottom: 1px solid var(--green);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2rem;
}

.nav-logo {
  font-size: 1.25rem;
  color: var(--cream);
  text-decoration: none;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 2rem;
}

.nav-links a {
  text-decoration: none;
  color: var(--green-light);
  font-size: 0.875rem;
  text-transform: uppercase;
}

#hero {
      padding: 100px 2rem 4rem;
      background-color: var(--bg);
}

h6 {
  font-size:0.72rem;
  letter-spacing:0.16em;
  text-transform:uppercase;
  color:var(--gold);
  margin-bottom:1rem;
}

h1 {
  font-family:var(--font-head);
  font-size:clamp(3rem,6vw,5.5rem);
  font-weight:700;line-height:1.0;
  color:var(--cream);
  margin-bottom:1.25rem;
}

h1 span {
  font-weight:400;
  font-style:italic;
  color:var(--green-light);
}

p {
  font-size:1.1rem;color:var(--mint);max-width:540px;opacity:0.8;
}

a {
  display:inline-flex;
  align-items:center;
  gap:6px;
  font-size:0.85rem;
  color:var(--gold);
  text-decoration:none;
  margin-top:2rem;
}

.hobbie {
  padding: 5rem 2rem;
  border-bottom: 1px solid #4A7C59;
  background-color: var(--bg3);
}

.hobbie-inner {
  max-width: 1100px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 4rem;
  align-items: center;
}

.photo-left,
.photo-right {
  border-radius: 20px;
  overflow: hidden;        
  aspect-ratio: 4/3;      
  background: var(--green);

}

.photo-left img,
.photo-right img {
  width: 100%;
  height: 100%;
  object-fit: cover;      
  display: block;
}

.text-right,
.text-left {
  position: relative;     
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.project-number {
  position: absolute;
  top: -2rem;
  left: -0.5rem;
  pointer-events: none;    
}

.project-number span {
  font-family: var(--font-head);
  font-size: 7rem;
  font-weight: 700;
  color: var(--mint);  
  line-height: 1;
  user-select: none;       
}

.info-list {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.info-box {
  background: var(--green);
  border: 1px solid rgba(255,255,255,0.1);
  border-radius: 99px;
  padding: 4px 14px;
}

.info-box p {
  font-size: 0.78rem;
  color: var(--mint);
  margin: 0;
}

.buttons {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  font-size: 0.875rem;
  font-weight: 500;
  color: var(--gold);
  text-decoration: none;
  border: 1px solid rgba(201,168,76,0.3);
  padding: 8px 20px;
  border-radius: 99px;
  width: fit-content;
}