:root {
      --cream:#F5F0E8; --warm:#EDE5D8; --sand:#C9B99A;
      --brown:#7A5C3E; --dark:#2A1F14; --accent:#D4845A;
      --accent2:#6B8F71; --white:#FEFCF8;
      --font-head:'Playfair Display',Georgia,serif;
      --font-body:'DM Sans',sans-serif;
      --radius:12px; --shadow:0 4px 24px rgba(42,31,20,0.08);
    }

    nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  background: #F5F0E8;
  border-bottom: 1px solid #C9B99A;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2rem;
}

.nav-logo {
  font-size: 1.25rem;
  color: #2A1F14;
  text-decoration: none;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 2rem;
}

.nav-links a {
  text-decoration: none;
  color: #7A5C3E;
  font-size: 0.875rem;
  text-transform: uppercase;
}

#hero {
  min-height:100vh;
  display:grid;
  grid-template-columns:1fr 1fr;
  padding:80px 2rem 4rem;
  max-width:1100px;
  margin:0 auto;
  align-items:center;
  gap:5rem;

}

.hero-left {
  padding-right:2rem;
  border-right:1px solid var(--warm);
}

h1 {
  font-size:0.75rem;
  font-weight:500;
  letter-spacing:0.14em;
  text-transform:uppercase;
  color:var(--accent);
  margin-bottom:1.5rem;

}

h2 {
  font-family:var(--font-head);
  font-size:clamp(3rem,5vw,5rem);
  font-weight:400;
  line-height:1.05;
  color:var(--dark);
  margin-bottom:1.5rem;
}

h2 span {
  font-style:italic;
  color:var(--accent);
}

p {
  color: var(--brown);
  font-size: 0.75rem;
}

.hero-quote {
  border-left: 3px var(--accent);
}

.hero-right {
  display:flex;
  flex-direction:column;
  gap:1.25rem;
}

h3 {
  font-family:var(--font-head);
  font-size:clamp(3rem,5vw,5rem);
  font-weight:400;
  line-height:1.05;
  color:var(--accent);
  margin-bottom:1.5rem;
}

.hero-split {
   display:grid;
  grid-template-columns:1fr 1fr;
}

.hero-splitleft {
    padding-right:2rem;
  border-right:1px solid var(--warm);
}

.hero-splitright {
  display:flex;
  flex-direction:column;
  gap:1.25rem;
}



#Photos {
  background-color: var(--dark);
  padding:80px 2rem 4rem;
  max-width:1100px;
  margin:0 auto;
  align-items:center;
  gap:5rem;

}

img {
  border-radius: 16px;
  float: left;
  background-color: #D4845A;
}

.photos-layout {
  display:grid;
  grid-template-columns:1fr 1fr 1fr 1fr 1fr; 
}