body {
    font-family: "Segoe UI", Robot, sans-serif;
    margin: 0;
    
}

    

h1 {
    border-style: solid;
             border-width: 100px;
            border-color: beige;
    color: white;
    font-family: "Segoe UI", Robot, sans-serif;
    font-size: xx-large;
    background-color: blue;
    border: 2mm solid pink;
    border-color: aliceblue;
    border-radius: 5mm;
    box-sizing: border-box;
   
}
p {
    font-family: sans-serif;
    font-size: medium;
    background-color: blue;
    border: 2mm solid pink;

}
p.one {
    border-style: solid;
    border-width: 10px;
}
section {
    margin-top: 10px;
    color: brown;
}